{% extends "base.html" %}
{% block content %}


<h1>
	<img src="{{url_for('static', filename='img/flower.png')}}" alt="flower">
	<div>Informationen</div>
</h1>

<h2>Kontakt</h2>

<p>
	<a href="mailto:hallo@gutelehre.de">hallo@gutelehre.de</a>
	<br>
	<a href="https://www.facebook.com/guteLehre">facebook.com/guteLehre</a>
	<br>
	<a href="http://twitter.com/guteLehre">twitter.com/guteLehre</a>

</p>
<br><br>

<h2>Warum?</h2>

<p>Eine hohe Qualität der Lehrveranstaltungen ist an deutschen Hochschulen keine Selbstverständlichkeit. Für junge, aufstrebende Wissenschaftler, die häufig stark in die Lehre eingebuden sind, gibt es zur Zeit wenig Gründe sich zu um gute Lehre zu bemühen. In den Berufungsverfahren spielt dies nur eine untergeordnete Rolle bzw. können Informationen über die Qualität ihrer Lehrtätigkeiten schwer erfasst werden. Hier können in Zukunft die Bewertungen auf guteLehre.de helfen.</p>
<br>
<p>Auch Professoren sollten sich ihrer Aufgabe als Lehrende bewusst werden und dieses nicht hinter Forschung, Industriekooperation oder akademischen Selbstverwaltung hinten anstellen.</p>
<br>
<p>Die Evaluierung der Lehrveranstaltungen ist eine Farce, wenn weder über die Ergebnisse gesprochen wird, noch sie überhaupt öffentlich zugänglich sind. Es erfolgen oft keine Konsequezen, aber "es muss halt gemacht werden".</p>
<br>
<p>Um engagierte Lehrende besser gewürdigt, wurde guteLehre.de erschaffen.</p>
<br><br>
<h2>Wer?</h2>

<img src="/static/img/filter.png" width="200"><br>
Johannes Filter<br><br>
<a href="https://www.facebook.com/JoeSeab">facebook.com/JoeSeab</a><br>
<a href="http://twitter.com/fil_ter">twitter.com/fil_ter</a><br>


{% endblock %}