{% extends "base.html" %} {% block content %}

<div id="privacy">
  <h1 class="blue">Datenschutzerklärung</h1>
  <h2>Geltungsbereich</h2>
  <p>
    Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke
    der Erhebung und Verwendung personenbezogener Daten durch den
    verantwortlichen Anbieter (Johannes Filter) auf dieser Website (im folgenden
    “Angebot”) auf.<br />
    Die rechtlichen Grundlagen des Datenschutzes finden sich im
    Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).
  </p>

  <h2>Zugriffsdaten/ Server-Logfiles</h2>
  <p>
    Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über
    jeden Zugriff auf das Angebot (so genannte Serverlogfiles). Zu den
    Zugriffsdaten gehören:<br />
    Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs,
    übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst
    Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte
    Seite), IP-Adresse und der anfragende Provider.<br />
    Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen
    zum Zweck des Betriebs, der Sicherheit und der Optimierung des Angebotes.
    Der Anbieterbehält sich jedoch vor, die Protokolldaten nachträglich zu
    überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht
    einer rechtswidrigen Nutzung besteht.
  </p>

  <h2>Umgang mit personenbezogenen Daten</h2>
  <p>
    Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person
    bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden
    können. Dazu gehören der Name, die Emailadresse oder die Telefonnummer. Aber
    auch Daten über Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten
    von jemandem angesehen wurden zählen zu personenbezogenen Daten.<br />
    Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und
    weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die
    Datenerhebung einwilligen.
  </p>

  <h2>Kontaktaufnahme</h2>
  <p>
    Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular
    oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage
    sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.
  </p>

  <h2>Kommentare und Beiträge</h2>
  <p>
    Wenn Nutzer Empfehlungen für Lehrveranstaltungen oder Kommentare
    hinterlassen, werden ihre IP-Adressen gespeichert. Das erfolgt zur
    Sicherheit des Anbieters, falls jemand in Empfehlungen oder Kommentaren
    widerrechtliche Inhalte schreibt (Beleidigungen, verbotene politische
    Propaganda, etc.). In diesem Fall kann der Anbieter selbst dafür belangt
    werden und ist daher an der Identität des Verfassers interessiert.
  </p>

  <h2>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h2>

  <p>
    Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über
    die personenbezogenen Daten, die über ihn gespeichert wurden. Zusätzlich hat
    der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und
    Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche
    Aufbewahrungspflicht entgegensteht.
  </p>

  <h2>Kommentarfunktion (DISQUS)</h2>

  <p>
    Wir nutzen zudem das DISQUS-Kommentarsystem, das von der Firma DISQUS, Inc.,
    301 Howard St, Floor 3 San Francisco, California- 94105, USA, bereitgestellt
    wird. Die Datenschutzinformationen von DISQUS finden Sie hier. DISQUS
    erlaubt die Anmeldung entweder über ein eigenes DISQUS-Nutzer-Konto
    ("Account") oder über bestehende Nutzer-Konten bei Facebook, Twitter und
    Google Plus. Sofern Sie sich mit Ihren Accounts der Social-Media-Angebote
    (siehe Informationen oben) bei der DISQUS-Funktion auf unseren Webseiten
    anmelden, werden auch diese Diensteanbieter Informationen zu Ihrer Nutzung
    der DISQUS-Funktionen erheben und verarbeiten. Bitte nehmen Sie dazu die
    Datenschutzinformationen der jeweiligen Anbieter (siehe oben) zur Kenntnis.
    DISQUS ist eine international verbreitete Plattform. Mit einer Anmeldung
    kann man auf jeder Webseite kommentieren, die DISQUS einsetzt. DISQUS
    übermittelt die E-Mail-Adresse der Benutzer und die IP-Adresse, die während
    der Eingabe eines Kommentars verwendet wurde, an Deutschlandradio. Wir
    benötigen diese Information ausschließlich für den Zweck der Kontaktaufnahme
    im Zusammenhang mit Ihrer Nutzung von DISQUS, beispielsweise wenn wir
    Rückfragen zu Ihrem Nutzerkommentar haben. Eine unerlaubte Weitergabe an
    Dritte erfolgt selbstverständlich nicht.
  </p>
</div>

<!-- </p><p><a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/" >Datenschutz-Muster von Rechtsanwalt Thomas Schwenke</a></p> -->

{% endblock %}
